@media screen and (max-width: 767px) {
  .welcome {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.06;
    letter-spacing: -0.01em;
    color: var(--button-gray);
    margin-bottom: 20px;
  }

  .userName {
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .userBarWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .welcome {
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--button-gray);
  }
  .userName {
    font-weight: 700;
  }
}
@media screen and (min-width: 1440px) {
  .welcome {
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--button-gray);
  }

  .userBarWrapper {
    /* position: relative; */
    display: flex;
    gap: 20px;
    flex-direction: row;
    color: var(--main-background-color);
  }

  .userName {
    font-weight: 700;
  }
}
