.waterInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.waterList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
