.container {
  padding: 16px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  
}

.mainForm {
  position: relative;
  display: flex;
  width: 343px;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  border-radius: 30px;
  padding: 24px 16px;
  background-color: var(--secondary-background-color);
  margin: 0 auto;
}

.desktopForm {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 32px;
  }

  .mainForm {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .mainForm {
    width: 672px;
    height: 736px;
    margin: 0;
  }

  .desktopForm {
    display: flex;
  }
}
