.modal {
  /* padding: 20px;
  background-color: beige;
  width: 343px; */
}
.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--text-color);
}
