.modal {
  padding: 20px;
  background-color: beige;
  width: 343px;
  border-radius: 15px;
  position: relative;
}
.closeIcon {
  stroke: var(--button-gray);
  position: absolute;
  top: 20px;
  right: 20px;
}
