.arrowDown {
  width: 20px;
  height: 20px;
  fill: var(--main-background-color);
  transition: transform 0.3s ease;
}

.arrowDownOpen {
  transform: rotate(180deg);
}

.userBar {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border-color: transparent;
  gap: 10px;
  background-color: var(--button-gray);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--main-background-color);
  padding: 6px 12px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
