.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    margin-bottom: 16px;
    color: var(--button-gray);
}

.paragraf {
    color: var(--button-gray);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    margin-bottom: 28px;
}

.deleteModalBackground {
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.buttondelete {
    border-radius: 30px;
    border: none;
    background-color: var(--background-avocado-green);
    color: var(--button-gray);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.01em;
    text-align: center;
    padding: 14px 0;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttoncancel {
    border-radius: 30px;
    background-color: var(--secondary-background-color);
    color: rgb(50, 63, 71, 0.3);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.01em;
    text-align: center;
    border: none;
    padding: 14px 0;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.buttondelete:hover,
.buttondelete:focus {
    background-color: var(--accent-darkgreen-color);
}

.buttoncancel:hover,
.buttoncancel:focus {
    color: var(--button-gray);
    background-color: var(--secondary-background-color);
}


@media screen and (min-width: 768px) {
    .deleteModalBackground {
        width: 516px;
        max-width: 516px;
        padding: 40px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 24px;
    }

    .paragraf {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .buttondelete {
        font-size: 16px;
        line-height: 1.5em;
        padding: 18px 59px;
    }

    .buttoncancel {
        font-size: 16px;
        line-height: 1.5em;
        padding: 18px 59px;
    }
}