.form {
  width: 311px;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

form > *:not(:last-child) {
  margin-bottom: 32px;
}

.formName {
  color: var(--button-gray);
  font-size: 32px;
  font-weight: 700;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
}

.inputVisContainer {
  position: relative;
  width: 311px;
}

.inputField {
  width: 100%;
  color: var(--light-gray-text-color);
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 0px 16px 16px;
  transition: color 300ms ease-in;
  outline: none;
}

.inputField:hover,
.inputField:focus {
  color: var(--text-color);
}

.inputError {
  color: var(--error-text);
  border-color: var(--error-text);
}

.errorMessage {
  color: var(--error-text);
  font-size: 14px;
}

.formBtn {
  color: var(--button-gray);
  background-color: var(--background-avocado-green);
  font-size: 14px;
  font-weight: 700;
  padding: 16px 128px;
  border: none;
  border-radius: 30px;
  text-align: center;
  transition: background-color 300ms ease-in;
  margin-bottom: 32px;
}

.formBtn:hover {
  background-color: var(--accent-darkgreen-color);
}

.linkContainer {
  text-align: center;
  margin-top: 16px;
}

.linkContainer p {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
}

.linkTo {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: underline;
}

.iconBtn {
  display: none;
}

.svgIcon {
  display: none;
}

@media screen and (min-width: 768px) {
  .form {
    width: 436px;
    margin: 0 auto 0 auto;
    padding-top: 171px;
  }

  .formName {
    font-size: 36px;
  }

  .inputContainer {
    gap: 20px;
  }

  .inputVisContainer {
    position: relative;
    width: 436px;
  }

  .title {
    font-size: 16px;
  }

  .formBtn {
    font-size: 16px;
    padding: 18px 187px;
  }

  .iconBtn {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: block;
    background-color: transparent;
  }

  .svgIcon {
    display: block;
    fill: none;
    stroke: black;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    padding-top: 74px;
  }
}
