.infoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    margin-top: 43px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding: 49px 0 40px;
  }
}
