.signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-background-color);
}

@media (min-width: 768px) {
  .signInContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 32px;
  }

  .signInForm {
    margin-right: 32px;
  }

  .advantagesSection {
    flex: 1;
    background-color: var(--secondary-background-color);
    border-radius: 30px;
    overflow: hidden;
    display: block;
  }
}
